.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  margin: 16px;
  padding: 8px;
  background-color: lightgrey;
}

input {
  font-size: 1em;
  padding: 10px;
  margin: 10px auto;
}

.incorrect {
  color: red;
}
